@charset "UTF-8";
input.parsley-error,
textarea.parsley-error {
  outline: 0 none;
  border: 1px solid #ff8a8a;
}

.employment-certificate__tr ._error,
.corporate-license__tr ._error,
.corporate-registration__tr ._error,
.id__tr ._error,
.agency-name__tr ._error,
.sub-agency-name__tr ._error,
.agent-name__tr ._error,
.advertiser__tbody .name__tr ._error,
.advertiser-info__table .name__tr ._error,
.sub-agency__tbody .name__tr ._error,
.name__tr ._error {
  color: #ff8a8a;
  padding-left: 10px;
  display: none;
}
.employment-certificate__tr ._error:before,
.corporate-license__tr ._error:before,
.corporate-registration__tr ._error:before,
.id__tr ._error:before,
.agency-name__tr ._error:before,
.sub-agency-name__tr ._error:before,
.agent-name__tr ._error:before,
.advertiser__tbody .name__tr ._error:before,
.advertiser-info__table .name__tr ._error:before,
.sub-agency__tbody .name__tr ._error:before,
.name__tr ._error:before {
  content: '\2022';
  font-size: 12px;
}
.employment-certificate__tr ._success,
.corporate-license__tr ._success,
.corporate-registration__tr ._success,
.id__tr ._success,
.agency-name__tr ._success,
.sub-agency-name__tr ._success,
.agent-name__tr ._success,
.advertiser__tbody .name__tr ._success,
.advertiser-info__table .name__tr ._success,
.sub-agency__tbody .name__tr ._success,
.name__tr ._success {
  color: #3acf6c;
  display: none;
  padding-left: 10px;
}
.employment-certificate__tr ._success:before,
.corporate-license__tr ._success:before,
.corporate-registration__tr ._success:before,
.id__tr ._success:before,
.agency-name__tr ._success:before,
.sub-agency-name__tr ._success:before,
.agent-name__tr ._success:before,
.advertiser__tbody .name__tr ._success:before,
.advertiser-info__table .name__tr ._success:before,
.sub-agency__tbody .name__tr ._success:before,
.name__tr ._success:before {
  content: '\2022';
  font-size: 12px;
}

.employment-certificate__tr .parsley-error + ._error,
.corporate-license__tr .parsley-error + ._error {
  display: inline-block;
}
.employment-certificate__tr .parsley-success + ._error + ._success,
.corporate-license__tr .parsley-success + ._error + ._success {
  display: inline-block;
}

.corporate-registration__tr .parsley-error + button + ._error,
.sub-agency-name__tr .parsley-error + button + ._error,
.agent-name__tr .parsley-error + button + ._error,
.agency-name__tr .parsley-error + button + ._error,
.id__tr .parsley-error + button + ._error,
.name__tr .parsley-error + button + ._error {
  display: inline-block;
}
.corporate-registration__tr .parsley-error + button + ._error + ._success,
.sub-agency-name__tr .parsley-error + button + ._error + ._success,
.agent-name__tr .parsley-error + button + ._error + ._success,
.agency-name__tr .parsley-error + button + ._error + ._success,
.id__tr .parsley-error + button + ._error + ._success,
.name__tr .parsley-error + button + ._error + ._success {
  display: none;
}
.corporate-registration__tr .parsley-success + button + ._error,
.sub-agency-name__tr .parsley-success + button + ._error,
.agent-name__tr .parsley-success + button + ._error,
.agency-name__tr .parsley-success + button + ._error,
.id__tr .parsley-success + button + ._error,
.name__tr .parsley-success + button + ._error {
  display: none;
}
.corporate-registration__tr .parsley-success + button + ._error + ._success,
.sub-agency-name__tr .parsley-success + button + ._error + ._success,
.agent-name__tr .parsley-success + button + ._error + ._success,
.agency-name__tr .parsley-success + button + ._error + ._success,
.id__tr .parsley-success + button + ._error + ._success,
.name__tr .parsley-success + button + ._error + ._success {
  display: inline-block;
}

.tooltip-inner {
  text-align: left;
  background: #ff8a8a;
  padding: 6px 16px;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #ff8a8a;
}

.tooltip.top-left {
  margin-top: -1px;
}

.tooltip.top-left .tooltip-arrow {
  border-top-color: #ff8a8a;
  margin-bottom: -5px;
}

.tooltip.top-right .tooltip-arrow {
  border-top-color: #ff8a8a;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #ff8a8a;
}

.tooltip.left .tooltip-arrow {
  border-left-color: #ff8a8a;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #ff8a8a;
}

.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #ff8a8a;
}

.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #ff8a8a;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  outline: 0 none;
}

._ellipsis + .tooltip {
  width: 200px;
  opacity: 1;
}
._ellipsis + .tooltip .tooltip-inner {
  background: #ababab;
  padding: 10px 15px;
  word-break: break-all;
  line-height: 17px;
  font-size: 12px;
  text-align: left;
}

._ellipsis + .tooltip.top-left .tooltip-arrow {
  border-top-color: #ababab;
  margin-bottom: -5px;
}

._ellipsis + .tooltip.left .tooltip-arrow {
  border-left-color: #ababab;
}

.fa-info-circle + .tooltip .tooltip-inner {
  max-width: 200px;
  text-align: left;
  background: #303030;
  padding: 6px 16px;
}
.fa-info-circle + .tooltip.top .tooltip-arrow {
  border-top-color: #303030;
  margin-left: -3px;
}
.fa-info-circle + .tooltip.top-left {
  margin-top: -1px;
}
.fa-info-circle + .tooltip.top-left .tooltip-arrow {
  border-top-color: #303030;
  margin-bottom: -5px;
}
.fa-info-circle + .tooltip.top-right .tooltip-arrow {
  border-top-color: #303030;
}
.fa-info-circle + .tooltip.right .tooltip-arrow {
  border-right-color: #303030;
}
.fa-info-circle + .tooltip.left .tooltip-arrow {
  border-left-color: #303030;
}
.fa-info-circle + .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #303030;
}
.fa-info-circle + .tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #303030;
}
.fa-info-circle + .tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #303030;
}

/*login * error message */
body {
  font-size: 12px;
}

body,
button,
input,
textarea {
  font-family: 'Roboto Condensed','Nanum Barun Gothic', '맑은 고딕', sans-serif;
  color: #303030;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

button:focus {
  outline: 0 none;
}

input[type='text'],
input[type='password'],
input[type='number'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  line-height: 23px;
  height: 25px;
  padding: 0 8px;
}
input[type='text']:focus,
input[type='password']:focus,
input[type='number']:focus {
  outline: 0 none;
  border: 1px solid #3acf6c;
}

body {
  background-color: #303030;
}
body .login,
body .error {
  padding-top: 135px;
  position: absolute;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url(../images/bg_login_ffffff_214x76.png) 50% 0 no-repeat;
}
body .error__content,
body .login-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 490px;
  background-color: #ffffff;
  border: 1px solid #cbcbcb;
  padding: 10px 10px 20px;
  z-index: 100;
}
body .error__header,
body .login__header {
  height: 45px;
}
body .error__header .title,
body .login__header .title {
  color: #ffffff;
  font-size: 17px;
  line-height: 45px;
}
body .error__header {
  background-color: #3acf6c;
}
body .error__header .title {
  padding: 0 15px;
}
body .login__header {
  background-color: #303030;
}
body .login__header .title {
  padding: 0 20px;
}
body .login__container {
  padding: 55px 45px;
  font-size: 15px;
}
body .login__container table {
  width: 100%;
}
body .login__container table caption {
  display: none;
}
body .login__container table th {
  text-align: left;
  width: 80px;
}
body .login__container table input[type="text"],
body .login__container table input[type="password"] {
  width: 100%;
}
body .login__container table .id__tr td {
  padding-bottom: 6px;
}
body .error__container {
  padding: 35px 40px 30px;
  font-size: 15px;
}
body .error__container p {
  margin-bottom: 20px;
}
body .error__container ul li {
  line-height: 22px;
  list-style: none;
}
body .error__container ul li:before {
  content: '\2022';
  color: #3acf6c;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
body .recover__container {
  padding: 30px 40px;
  font-size: 13px;
}
body .recover__container .info {
  line-height: 20px;
  padding-bottom: 30px;
}
body .recover__container .recover__table table {
  width: 100%;
}
body .recover__container .recover__table caption {
  display: none;
}
body .recover__container .recover__table th,
body .recover__container .recover__table td {
  padding-bottom: 10px;
}
body .recover__container .recover__table th {
  font-weight: 700;
  text-align: left;
  font-size: 15px;
  width: 115px;
  font-weight: 400;
}
body .recover__container .recover__table td input[type="text"] {
  width: 100%;
}
body .success__container {
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
}
body .success__container .info {
  background: url(../images/bg_success_39cf6c_29x29.png) 50% 0 no-repeat;
  padding-top: 60px;
  font-size: 13px;
  line-height: 20px;
}
body .fail__container {
  padding-top: 58px;
  padding-bottom: 53px;
  text-align: center;
}
body .fail__container .info {
  background: url(../images/bg_fail_313131_29x25.png) 50% 0 no-repeat;
  padding-top: 50px;
  font-size: 13px;
  line-height: 20px;
}
body .login__footer {
  position: relative;
}
body .login__footer p {
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 10px;
}
body .login__footer p a {
  font-weight: 700;
  color: #3acf6c;
}
body .login__footer .tooltip {
  position: absolute;
  top: -19px;
  left: 131px;
}
body .error__footer,
body .login__footer {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
  text-align: center;
}
body .error__footer [data-type='success'],
body .login__footer [data-type='success'] {
  border: 0 none;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #3acf6c;
  border-radius: 12.5px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  line-height: 25px;
  overflow: hidden;
  text-align: center;
  width: 100px;
}
body .error__footer [data-type='fail'],
body .login__footer [data-type='fail'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #303030;
  border-radius: 12.5px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  line-height: 25px;
  overflow: hidden;
  text-align: center;
  width: 100px;
  border: 0 none;
  margin-left: 10px;
}
body .error__footer .btn-return,
body .login__footer .btn-return {
  width: 200px;
}
body .login__container {
  padding-bottom: 30px;
}
body .login__container .find-info {
  font-size: 13px;
  padding-top: 10px;
  padding-left: 80px;
  letter-spacing: 0.3px;
}
body .login__container .find-info a {
  color: #3acf6c;
  font-weight: 700;
}

/*# sourceMappingURL=login.css.map */
